<header class="l_header">
    <div class="l_header_wrap">
        <div class="uq_header_logo_wrap">
            <img src="../public/assets/images/logo.png" alt="logo" class="uq_header_logo" />
        </div>
        <nav class="l_nav_pc l_nav_sp">
            <ul class="l_nav_pc_wrap l_nav_sp_wrap">
                <li class="l_nav_items">
                    <a href="http://" target="_blank" rel="noopener noreferrer">こんなお悩みありませんか?</a>
                </li>
                <li class="l_nav_items"><a href="http://" target="_blank" rel="noopener noreferrer">選ばれる理由</a></li>
                <li class="l_nav_items"><a href="http://" target="_blank" rel="noopener noreferrer">制作事例</a></li>
                <li class="l_nav_items"><a href="http://" target="_blank" rel="noopener noreferrer">料金プラン</a></li>
                <li class="l_nav_items"><a href="http://" target="_blank" rel="noopener noreferrer">よくある質問</a></li>
                <li class="l_nav_items uq_header_btn"><a href="http://" target="_blank" rel="noopener noreferrer">まずは無料で相談</a></li>
            </ul>
        </nav>
    </div>
</header>
